<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Add New Skill</h1>
</body>
<form action="/skills" method="post">
  <input type="text" name="name" id="" placeholder="new skill">
  <button type="submit">Add</button>
</form>

</html>